<h1>Edit book</h1>

<%= erb :'partials/form', :layout => false %>

<form action="/<%= @book.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>