body {
    /* background-color: #D1C6AD; */
    background-image: url('../images/bg.jpg'); 
    background-size: cover;
    opacity: 0.8;
    filter:alpha(opacity=80);
}

nav {
    display: flex;
    justify-content: space-around;
    /* background-color: #797596; */
    border-bottom: 2px solid red;
    height: 70px;
    margin: -8px -8px -8px -8px;
    text-align: center;
    width: 100%;
    align-items: center;
}

.maincontainer {
    text-align: center;
}