body {
    /* background-color: #D1C6AD; */
    background-image: url('../images/bg.png'); 
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(161,134,158, 0.5);
    border-bottom: 2px solid #A3320B;
    height: 70px;
    margin: -8px -8px -8px -8px;
    text-align: center;
    /* width: 100%; */
    align-items: center;
}

a {
    text-decoration: none; 
    color: purple;
    font-weight: bold; 
}

label {
    font-weight: bold; 
}

.fontsize {
    font-size: 22px;
}

.maincontainer {
    text-align: center;
}

